<VirtualHost *:80>
    ServerName {{ ansible_host }}
    DocumentRoot /var/www/{{apache_site_name}}.{{ansible_nodename}}

    <Directory /var/www/{{ apache_site_name }}.{{ansible_nodename}} >
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
